<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
    <p class="lead">SpaceNav is a Colorado-based applied mathematics &amp; aerospace engineering company.  We deliver technical solutions in the areas of Space Situational Awareness, Systems Engineering, and Mission Operations.&nbsp;Our strong background in mathematics and software development enables us to rapidly model, prototype, and deploy a variety of different capabilities to mission stakeholders. Our customers continuously bring us new and challenging problems because of our proven ability to deliver solutions on time and under budget.  SpaceNav’s expertise is in the areas of modeling &amp; simulation, estimation, orbit determination, and optimization.<br>
    <br>


    We currently support commercial and military customers; including the Missile Defense Agency and the United States Air Force. The SpaceNav team brings technical expertise and experience from a vast number of programs spanning the DoD, NASA and NOAA customer base.<br>
    <br>SpaceNav is a recognized leader in the space community. Since 2009, SpaceNav has been focused on delivering new, state-of-the-art solutions for a variety of topics in the Space Situational Awareness (SSA) domain. We are known for bridging the gap between theory and operations; focusing on advanced technologies with the operator in mind. Our primary focus is to improve conjunction analysis operations by developing new tools and processes for the entire SSA community.<br><br>

  </p>
    <h3>Our Mission:</h3>
    <p class="lead">To enable the success of our industry and government teammates in a variety of mission areas by delivering state-of-the art technologies that improve operations.<br><br>

    We are proud to be a member of the Colorado Space Coalition<br><br>
  </p>
  </div>
</div>
