<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead"><strong>SpaceNav</strong> is a Colorado-based applied mathematics &amp; aerospace engineering company.  We deliver technical solutions in the areas of <a href="space-situational-awareness.php">Space Situational Awareness</a>, <a href="#">Systems Engineering</a>, and <a href="#">Mission Operations</a>.&nbsp;SpaceNav’s expertise is in the areas of modeling &amp; simulation, estimation, orbit determination, and optimization.<br>
      <strong>SpaceNav</strong> currently supports both commercial and military customers; including the Missile Defense Agency and the United States Air Force. The <strong>SpaceNav</strong> team brings technical expertise and experience from a vast number of programs spanning the <strong>DoD</strong>, <strong>NASA</strong> and <strong>NOAA</strong> customer base.&nbsp;
    </p>
  </div>
</div>
